@import url("./assets/fonts/TripSans-Regular/style.css");
@import url("./assets/fonts/TripSans-Ultra/style.css");

@media (prefers-color-scheme: dark) {
  body {
    background: #14110f;
    color: rgb(225, 210, 190);
  }

  :root {
    --theme: rgb(225, 210, 190);
    --bgc: rgb(20, 17, 15);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: rgb(240, 235, 225);
    color: rgb(60, 60, 60);
  }

  :root {
    --theme: rgb(60, 60, 60);
    --bgc: rgb(240, 235, 225);
  }
}

body {
  margin: 0;
  font-family: 'TripSansRegular';
}

body::-webkit-scrollbar {
  display: none;
}

.bold {
  font-family: 'TripSansUltra';
}

nav {
  position: fixed;
  height: 40px;
  width: 100vw;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--bgc);
  box-shadow: 0 5px 10px var(--bgc);
  transition: .6s ease-in-out;
}

nav .title {
  font-size: 1.5em;
  letter-spacing: 1px;
  user-select: none;
  -webkit-user-select: none;
}

nav .menu-container {
  position: absolute;
  right: 0;
}

nav .menu-btn {
  width: 1rem;
  height: 1rem;
  margin: 10px;
  background-color: var(--theme);
  border: none;
  border-radius: 50%;
  transition: .2s ease-in-out;
}

nav .menu-btn:hover {
  transform: scale(1.3);
}

article .form-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .6s ease-in-out;
  transform: translateX(100vw);
  background-color: var(--bgc);
}

article .form-slide {
  transform: translateX(0);
}

article .form-box {
  position: relative;
  min-width: 200px;
  width: fit-content;
  height: fit-content;
  background-color: var(--theme);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
  border-radius: 5px;
}

article .input {
  outline: none;
  border: none;
  background: none;
  color: var(--bgc);
}

article .input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

article .new-title {
  font-size: 2.5rem;
  outline-width: 0;
  border: none;
  padding: 0 10px;
  border-radius: 5px;
}

article .new-content {
  font-size: 2rem;
  outline-width: 0;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

article .form-btn {
  position: absolute;
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 50%;
  top: 5px;
  right: -40px;
  background-color: var(--theme);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s ease-in-out;
}

article .form-btn:hover {
  transform: scale(1.2);
}

article .slide-btn {
  position: fixed;
  width: 70px;
  left: -35px;
  height: 50px;
  border: none;
  border-radius: 20px;
  background-color: var(--theme);
  transition: .2s ease-out;
  display: flex;
  justify-content: left;
  align-items: center;
}

article .slide-btn:hover {
  width: 100px;
  left: -50px;
}

main {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}


main .note-container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  transform: translateX(0vw);
  transition: .6s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
}

main .notes-slide {
  transform: translateX(-100vw);
}

main .note-box {
  border-radius: 5px;
  background-color: var(--theme);
  transition: .2s ease-in-out;
}

main .note-box:hover {
  transform: scale(1.05);
}

main .note {
  width: fit-content;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

main .title {
  font-size: 1.7rem;
  color: var(--bgc);
  cursor: default;
  user-select: none;
}

main .content {
  font-size: 1.4rem;
  color: var(--bgc);
  cursor: default;
  user-select: none;
}

/* TODO need to clean up */
/* TODO .pinnedNoteContainer or only pin */
/* TODO slide btn hover effect bug */