@import url("./assets/fonts/TripSans-Regular/style.css");
@import url("./assets/fonts/TripSans-Ultra/style.css");

.text-input:empty:before {
  content: attr(placeholder);
  color: #999999;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #ededed;
    --background: #181818;
    --primary: #b7b8b8;
    --secondary: #2b2b2b;
    --accent: #6d6d6d;
    --shadow: #101010;
  }

  body {
    background-image: radial-gradient(#1f1f1f 2px, transparent 2px);
    background-size: 20px 20px;
    background-color: #181818;
    color: var(--text);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #0a0a0a;
    --background: #ededed;
    --primary: #b7b8b8;
    --secondary: #f2f3f3;
    --accent: #d8d8d8;
    --shadow: var(--primary);
  }

  body {
    background: var(--background);
    color: var(--text);
  }
}

body {
  margin: 0;
  font-family: 'TripSansRegular';
}

body::-webkit-scrollbar {
  display: none;
}

.bold {
  font-family: 'TripSansUltra';
}

.btn {
  background-color: var(--accent);
}

.btn i {
  color: var(--text);
}

/* Nav Section */

nav {
  position: fixed;
  height: 50px;
  width: 100vw;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .1s ease, top .4s cubic-bezier(.9, 0, .3, .9);
}

nav .title {
  font-size: 1.8em;
  letter-spacing: 1px;
  user-select: none;
  -webkit-user-select: none;
}

nav .right-nav {
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}

nav .search-box {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 17.5px;
  background-color: var(--accent);
  transition: .5s cubic-bezier(.9, 0, .3, .9);
  display: flex;
  align-items: center;
}

nav .show-search-box {
  width: 100%;
}

nav .search-input {
  height: 100%;
  width: calc(100% - 35px);
  border: none;
  outline: none;
  padding-left: 10px;
  background-color: transparent;
  color: var(--text);
  font-size: 1rem;
}

nav .search-input::placeholder {
  color: var(--text);
  opacity: .5;
}

nav .search-btn {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: .5s cubic-bezier(.9, 0, .3, .9);
}

/* After click on search btn */

nav .show-search-box .search-btn {
  transform: rotate(90deg);
}

nav .search-icon,
.close-icon {
  position: absolute;
  transition: opacity .5s cubic-bezier(.9, 0, .3, .9);
}

nav .close-icon {
  opacity: 0;
}

nav .show-search-box .search-icon {
  opacity: 0;
}

nav .show-search-box .close-icon {
  opacity: 1;
}

/* Menu btn section */

nav .menu-container {
  width: 35px;
  height: 35px;
  background-color: var(--primary);
  border-radius: 50%;
}

nav .menu-btn {
  width: 100%;
  height: 100%;
  transition: .2s ease-in-out;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

nav .menu-btn i {
  position: absolute;
}

/* Article section */

article .form-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s ease-in-out;
  transform: translateX(100vw);
  background-color: var(--background);
}

/* Slide animation for Notes form */
article .form-slide {
  transform: translateX(0);
}

article .form-box {
  position: relative;
  width: 500px;
  height: auto;
  padding: 20px;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--shadow);
}

article .form-scroll {
  max-height: 80vh;
  overflow-y: scroll;
}

.form-scroll::-webkit-scrollbar {
  display: none;
}

article .text-input {
  outline: none;
  border: none;
}

article .title {
  font-size: 2.5rem;
}

article .content {
  font-size: 2rem;
}

article .form-btn-container {
  position: absolute;
  width: fit-content;
  height: fit-content;
  right: -45px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

article .form-btn {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s ease-in-out;
}

article .form-btn:hover {
  transform: scale(1.2);
}

/* Btn to slide animation (Notes form) */
article .slide-btn {
  position: fixed;
  width: 70px;
  left: -35px;
  height: 50px;
  border: none;
  border-radius: 20px;
  transition: .2s ease-in-out;
  display: flex;
  justify-content: left;
  align-items: center;
}

article .slide-btn:hover {
  width: 100px;
  left: -50px;
}

article .icon-move {
  justify-content: right;
}

article .slide-btn i {
  padding: 10px;
  transition: .7s cubic-bezier(.9, 0, .3, .9);
}

article .icon-rotate {
  transform: rotate(180deg);
}

/* Main section */

main {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}


main .note-container {
  width: 80vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  transform: translateX(0vw);
  transition: .4s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
}

main .notes-slide {
  transform: translateX(-100vw);
}

main .note-box {
  border-radius: 5px;
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  box-shadow: 0 0 10px var(--shadow);
  transition: .1s ease-out;
}

main .note-box:focus,
.note-box:hover {
  border: 1px solid var(--primary)
}

main .note {
  width: fit-content;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

main .title {
  height: fit-content;
  font-size: 1.7rem;
  cursor: default;
  user-select: none;
}

main .content {
  height: fit-content;
  font-size: 1.4rem;
  cursor: default;
  user-select: none;
}

/* TODO need to clean up */
/* TODO .pinnedNoteContainer or only pin */
/* TODO hover effect bug */